{
	"extends": "airbnb-base",
	"rules": {
	"no-underscore-dangle": [
		"error",
		{
			"allow": ["_id"]
		}
	],
		// добавил 'no-console' т.к. без него npx eslint ругается на сonsole.error(e.message)
		"no-console": "off"
}
}
