{
	"extends": "airbnb-base",
	"rules": {
	"no-underscore-dangle": [
		"error",
		{
			"allow": ["_id"]
		}
	],
		"consistent-return": "off",
		"no-shadow": "off",
		"no-else-return": "off",
		"arrow-body-style": "off",
		"no-unused-vars": "off",
		"no-console": "off"
}
}
